body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #fa072f;
  font-size: 2.5em;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  color: #530404;
  font-size: 2em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

img {
  display: block;
  margin: 20px auto;
  width: 200px;
  height: auto;
}

.question {
  margin-bottom: 30px;
  text-align: left;
  color: #fa0795;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  color: #0066cc;
  white-space: pre-wrap;
}

.link {
  text-align: start;
  margin-top: 20px;
}

.link a {
  color: #4caf50;
  text-decoration: #26a6d8;
  font-weight: bold;
  font-size: 1.2em;
}

#assessment {
  display: none; /* Hide assessment section by default */
}
